/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding-right: 0;
    padding-top: 0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:2;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0px;
    font-size:100%;
    background:transparent;
    text-decoration: none;
}


/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* MY CODE

.index-h1{
  font-family: forma-djr-text,sans-serif;
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
  text-align: left;
  color: black;
  word-spacing: 10px;
  line-height: 32px;
  padding: 20px;

}*/

 h1{
   display: block;
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
 }
 h2{
   font-family: tuppence, serif;
   font-weight: 500;
   font-style: normal;
   font-size: 2rem;
   color: black;
   padding-top: 25px;
   padding-bottom: 10px;
   line-height: 30px;
 }
 h3{
   font-family: forma-djr-text,sans-serif;
   font-weight: 400;
   font-size: 1.2em;
   color: black;
   line-height: 1.5em;
   padding-top: 10px;
   padding-bottom: 10px;
 }

 p {
   font-family: forma-djr-text,sans-serif;
   font-weight: 400;
   font-size: 170%;
   color: #B8B8B8  ;
   line-height: 115%;
   word-spacing: 4px;
   text-align: left;
   padding: 0 10% 5% 10%;

 }
.banner-container{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 20px;
  padding-right: 20px;

}
.banner{
  width: 200px;
  margin: 20px;
  }

.banner-item1 {
  min-height: 75px;
  font-family: forma-djr-text,sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: black;
  text-decoration: none;

}
.banner-item2{
  min-height: 75px;
  font-family: forma-djr-text,sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: black;
}
.intro{
  font-family: tuppence, serif;
  font-weight: 600;
  font-style: normal;
  font-size: 4.5vw;
  color: black  ;
  line-height: 100%;
  letter-spacing: -0.0025em;
  margin-left: 50px;
  width: 1000px;
  min-height: 500px;
  border: 2px solid transparent;

}
.projects-header{
  text-align: center;
  font-family: forma-djr-text,sans-serif;
  font-weight: 400;
  font-size: 25px;
}
.projects-container{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  min-height: 250px;
}
.projects{
  position: relative;
  padding: 40px;
  border: 1px solid black;

}
.projects-title{
  font-family: tuppence, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2.5rem;
  color: black;

}

.content{

  padding: 0 25% 15% 25%;

}
.content-title{
  font-family: tuppence, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3.5vw;
  color: black;
  text-align: center;
}
.project-date{
  text-align: right;
  font-family: forma-djr-text,sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: black;
  font-style: italic;
}

.projects:hover{
  background-color: pink;
  transition-duration: 1s;
}
.img-mypicture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding-bottom: 10%
}

.img-documentation {
  display: inline-grid;
  margin: auto;
  width: 60%;
  padding-top: 10%;

}
 .img-type {
   display: inline-grid;
   margin: auto;
   width: 100%;
   padding: 5%;
 }

 .img-type2 {
   display: inline-grid;
   width: 100%;
 }
 .img-type3 {
   display: inline-grid;
   margin: auto;
   width: 48%;
   padding-top: 5%;
 }
 .img-type4 {
   display: inline-grid;
   margin: auto;
   width: 30%;
   padding-bottom: 20px;
 }

 @media only screen and (max-width: 1400px) {
   .intro{
     width: 1000px;
     font-size: 5vw;
   }
 }
 @media only screen and (max-width: 1200px) {
   .intro{
     width: 700px;
     font-size: 6vw;
   }
   .content-title{
     font-size: 5vw;
   }
 }
 @media only screen and (max-width: 750px) {
   .intro{
     width: 450px;
     font-size: 7vw;
   }
@media only screen and (max-width: 510px) {
   .intro{
     width: 370px;
     font-size: 8vw;
     }
   .banner-item1{
     font-size: 20px;
   }

 }
/*body {
 background-image: url("portfoliobg.png");
 background-color: #cccccc;
}
*/
